{% extends "DJBlasterBundle:Admin:_admin_base.html.twig" %}


{% block content %}
    <div class="col-md-12">
        <h2>Disabled Functions</h2>
        <div>{{ disabled_functions|raw }}</div>

        <h2>PHP Info</h2>
        <div>{{ info|raw }}</div>
    </div>
{% endblock %}
