{% extends "DJBlasterBundle:Admin:_admin_base.html.twig" %}


{% block content %}
<div class="col-md-3">
    {{ include('DJBlasterBundle:Admin/Dashboard:left_menu.html.twig')}}
</div>
<div class="col-md-9">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#spons_reads" aria-controls="spons_reads" role="tab" data-toggle="tab">Recent Sponsorship Reads</a>
        </li>
        <li role="presentation" >
            <a href="#psa_reads" aria-controls="psa_reads" role="tab" data-toggle="tab">Recent PSA Reads</a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="spons_reads">
            {{ include('DJBlasterBundle:Admin/Dashboard:recent_sponsorship_reads.html.twig')}}
        </div>
        <div role="tabpanel" class="tab-pane" id="psa_reads">
            {{ include('DJBlasterBundle:Admin/Dashboard:recent_psa_reads.html.twig')}}
        </div>
    </div>
</div>
{% endblock %}
