<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
        <title>DJ Blaster PDF Generator</title>
        
        {% block stylesheets %}
        
        <link href="{{ asset('css/bootstrap.min.css', absolute=true) }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/main.css', absolute=true) }}" type="text/css" rel="stylesheet" />
        {% endblock %}

    </head>
    <body>
        {{ include('DJBlasterBundle:Admin/Report:report_generator.html.twig')}}
    </body>
</html>
