<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset=utf-8"/>
    <title>DJ Blaster PDF Generator</title>

</head>
<body>
{{ include('DJBlasterBundle:Admin/Report:report_generator.html.twig') }}
</body>
</html>
