<div>Hi {{ info.name }}!<br/></div>

<div>Your password has been reset. <br/></div>

<div><br/>Here is your new password: <span>{{ info.new_password }}</span><br/></div>

<div><br/><a href="{{ url('dj_blaster_admin_login') }}">Click here</a> to sign in.<br/></div>
