<div>Hi {{ info.name }}!<br/></div>
<div>You have been registered as an administrator for DJ Blaster.<br/></div>

<div>Your password is: <span>{{ info.password }}</span><br/></div>

<div><a href="{{ url('dj_blaster_admin_login') }}">Click here</a> to sign in.<br/></div>

